{% extends "base.html" %}
{% load static %}

{% block header %}
    <h1>Question list ({{ current_user }})</h1>
{% endblock %}

{% block main_block %}
    <div>
        <form action="{% url 'add_question' user_pk=current_user.pk %}" method="post">
            {% csrf_token %}
            {{ add_question_form }}

            <input type="submit" value="Add"/>
        </form>
    </div>
    <ul>
        {% for question in question_list %}
            {% with answer=question.answers.first %}
                <li>
                    {% if current_user == user and not answer %}
                        <p>Question: <a
                                href="{% url 'question_answer' user_pk=current_user.pk pk=question.pk %}">{{ question.question }}</a>
                        </p>
                    {% else %}
                        <p>Question: {{ question.question }}</p>
                    {% endif %}
                    <p>Answer: {% if answer %}{{ answer }}{% endif %}</p>
                    from: {{ question.user_from }} || date: {{ question.date_question }}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}
